<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Custom Reports</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">cvschools</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link" aria-current="page" href="/index">Home</a>
              <a class="nav-link active" aria-current="page"href="/Reports">Data Visualzations</a>
              <a class="nav-link" href="/403b">Business Processes</a>              
            </div>
          </div>
        </div>
      </nav>

  </head>
  
  
  
  <body>
    <section class="container">
        <div class="container">
          <div class="container">
            <!--Page title-->
            <div>
              <h1 class="text-center">Data Visualiztion Reports</h1>
            </div>
          </div>

          <!--content goes here-->
          <div class="container gap-4 col-md-4 reportContainer" id="reportContainer">

  

          </div>
        </div>
      </section>


    <script>
      $(document).ready(function () {
        // Set up the configuration object that determines what to embed and how to embed it.
        let embedConfiguration = {
            accessToken: anAccessToken,
            embedUrl: anEmbedUrl,
            id: aReportId,
            permissions: somePermissions,
            tokenType: aTokenType,
            type: 'report'
        };
        
        // Get a reference to the HTML element that contains the embedded report.
        let embedContainer = $('#embedContainer')[0];
        
        // Embed the report.
        let report = powerbi.embed(embedContainer, embedConfiguration);

      });
    </script>


<!--
    <script>
      $(document).ready(function () {
        var aadToken={accessToken:' ',expiresAtStr: ''};

        function getAadAccessToken() {
            var deferred = $q.defer();
            $http.get('/powerBi/authenticate')
                .then(
                function (response) {
                    deferred.resolve(response.data);
                },
                function(errResponse){
                    console.error('Error while getting Aad Access Token');
                    deferred.reject(errResponse);
                }
            );
            return deferred.promise;
        }
        
        var config= {
                     type: 'report',
                     tokenType: 0,//1:Embed,0:Aad
                     accessToken: txtAccessToken,
                     embedUrl: txtEmbedUrl,
                     permissions: 7,
                     viewMode: 0,
                     settings: {
                         filterPaneEnabled: false,
                         navContentPaneEnabled: false,
                         useCustomSaveAsDialog: false
                     }
                 };

        var $reportContainer = $('#reportContainer'); 
        var report = powerbi.embed($reportContainer.get(0), config); 
      });
    </script>
-->


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js" integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/powerbi-client/2.22.4/powerbi.min.js" integrity="sha512-UM/7Ih2UDZljfgjyD0j/BQabOWN+Kvs8Fhv0QtHxrul2GxS2tiEgkPKPEroyg0TcLk91ufwicgoKA2rcoCPppw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fetch/3.6.17/fetch.js" integrity="sha512-McVX4MrYSYimPqeGVUK8I17212Bv/B2xIHk+ySbKPC+HYei0YkAMITKT8nxcCIScNeZMpKIGBWomfqic26VBgg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
  </body>
</html>