<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Custom Reports</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">cvschools</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link" href="/index">Home</a>
            <a class="nav-link" href="/Reports">Data Visualzations</a>
            <a class="nav-link active" aria-current="page" href="/403b">Business Processes</a>              
          </div>
        </div>
      </div>
    </nav>

  </head>
  
  
  
  <body>
    <h1>Reportable Terminations</h1>

    <form th:object="${form}" th:action="@{/ReportableTerminations}" action="#" method="post">
      <div class="table-responsive">
        <table class="table table-sm table-striped table-hover">                  
          <tr class="table-dark">
            <th>Staff Social Security Number</th>
            <th>Staff ID</th>
            <th>Last Name</th>
            <th>First Name</th>
            <th>Middle Initial</th>
            <th>Birth Date</th>
            <th>Hire Date</th>
            <th>Termination Date</th>
            <th>Email</th>
            <th>Phone Number</th>
            <th>Address1</th>
            <th>Address2</th>
            <th>City</th>
            <th>State</th>
            <th>Zip</th>
            <th>Report Termination</th>
          </tr>                 
          <div th:each="employee, itemStat : ${form.reportableTerminations}">
            <tr>
              <td>
                <span th:text="${employee.getSsn()}"></span>
                <input hidden th:name="|reportableTerminations[${itemStat.index}].ssn|" th:value="${employee.getSsn()}">
              <td>
                <label><span th:text="${employee.getStaffId()}"></span> </label>
                <input hidden th:name="|reportableTerminations[${itemStat.index}].staffId|" th:value="${employee.getStaffId()}">
              </td>
              <td>
                <label><span th:text="${employee.getLastName()}"></span> </label>
                <input hidden th:name="|reportableTerminations[${itemStat.index}].lastName|" th:value="${employee.getLastName()}">
              </td>
              <td>
                <label><span th:text="${employee.getFirstName()}"></span> </label>
                <input hidden th:name="|reportableTerminations[${itemStat.index}].firstName|" th:value="${employee.getFirstName()}">
              </td>
              <td>
                <label><span th:text="${employee.getMiddleInitial()}"></span> </label>
                <input hidden th:name="|reportableTerminations[${itemStat.index}].middleInitial|" th:value="${employee.getMiddleInitial()}">
              </td>
              <td>
                <label><span th:text="${employee.getBirthDate()}"></span> </label>
                <input hidden th:name="|reportableTerminations[${itemStat.index}].birthDate|" th:value="${employee.getBirthDate()}">
              </td>
              <td>
                <label><span th:text="${employee.getHireDate()}"></span> </label>
                <input hidden th:name="|reportableTerminations[${itemStat.index}].hireDate|" th:value="${employee.getHireDate()}">
              </td>              
              <td>
                <label><span th:text="${employee.getTerminationDate()}"></span> </label>
                <input hidden th:name="|reportableTerminations[${itemStat.index}].terminationDate|" th:value="${employee.getTerminationDate()}">
              </td>
              <td>
                <label><span th:text="${employee.getEmail()}"></span> </label>
                <input hidden th:name="|reportableTerminations[${itemStat.index}].email|" th:value="${employee.getEmail()}">
              </td>
              <td>
                <label><span th:text="${employee.getPhoneNumber()}"></span> </label>
                <input hidden th:name="|reportableTerminations[${itemStat.index}].phoneNumber|" th:value="${employee.getPhoneNumber()}">
              </td>
              <td>
                <label><span th:text="${employee.getAddress1()}"></span> </label>
                <input hidden th:name="|reportableTerminations[${itemStat.index}].address1|" th:value="${employee.getAddress1()}">
              </td>
              <td>
                <label><span th:text="${employee.getAddress2()}"></span> </label>
                <input hidden th:name="|reportableTerminations[${itemStat.index}].address2|" th:value="${employee.getAddress2()}">
              </td>
              <td>
                <label><span th:text="${employee.getCity()}"></span> </label>
                <input hidden th:name="|reportableTerminations[${itemStat.index}].city|" th:value="${employee.getCity()}">
              </td>
              <td>
                <label><span th:text="${employee.getState()}"></span> </label>
                <input hidden th:name="|reportableTerminations[${itemStat.index}].state|" th:value="${employee.getState()}">
              </td>
              <td>
                <label><span th:text="${employee.getZip()}"></span> </label>
                <input hidden th:name="|reportableTerminations[${itemStat.index}].zip|" th:value="${employee.getZip()}">
              </td>              
              <td>                
                <input type="checkbox" th:name="|reportableTerminations[${itemStat.index}].reportTermination|" th:checked="${employee.getReportTermination()}">
              </td>              
            </tr>
          </div>
        </table>
      </div>
      <input type="submit" class="btn btn-outline-success" value="Save and Return">
    </form>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
  </body>
</html>